#footer{
    margin-top: 4em;
}

.video-full-bg{
    background: none !important;
}

.text-white.landing-title{
    font-size: 3em;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .video-full-bg__highlight{
      opacity: 0 !important;
  }

  .btn-primary{
    color: white;
    background-color: black !important;
  }

  .btn--landing.btn-primary::before{
    background-color: black !important;
    color: white;
  }
  
  .btn--landing.btn-primary::after{
    background-color: white !important;
    color: black !important;
  }
 
  .landing-detail span{
    background-color: none !important;
    border-color: black !important;
  }

  .landing-detail-cover span{
    border-color: white !important;
  }

  .main-nav ul li a:hover{
    color: black !important;
    cursor: default !important;
  }

  .site-header--landing .header-logo--img img{
    max-width: 21vh;
  }

  .social-menu--landing li a i{
    color: black !important;
  }

  .social-menu--landing li{
    margin: 0 !important;
  }

  .social-menu--landing {
    justify-content:  space-around !important;
  }
  .social-menu--landing li a{
    font-size: 1.325rem !important;
  }

.social-menu.social-menu--landing.social-menu--landing-glitch {
  margin: 0em 6em !important;
}

.video-full-bg__clip{
  opacity: 1 !important;
}

.video-full-bg__clip--black-white{
  filter: grayscale(0%) !important;
}

@media only screen and (max-width: 450px) {
  .text-white.landing-title{
    font-size: 2.4em !important;
  }

  .social-menu--landing li{
    margin: 0.6em !important;
  }

  .social-menu.social-menu--landing.social-menu--landing-glitch{
    margin: 0 auto !important;
  }
}

.btn--landing.btn-primary{
  box-shadow: 0 0 40px 2px rgba(255, 255, 255, 0.5) !important;
}

.header-logo.header-logo--img a img {
  box-shadow: 0 0 15px 2px rgb(255, 255, 255,0.5) !important;
  background: white;
  border-radius: 25px;
  padding: 0.7em;
}
